{% extends "layout.html" %}
{% block body %} 
<input type="hidden" id="view-data" value="{{view-data}}" />
<div class="row row-entry-form">
  <div class="col-md-8 col-md-offset-2" id="entry-form-react-container">
  </div>
</div>
<div class="row">
  <div class="col-md-12" id="activity-graphic">
  </div>
</div>
<div class="row day-entry-table-row" id="day-entry-table">
{% include "day-entries-table.html" %}
</div>
{% endblock %}

{% block end-of-body %}
<div id="activity-graphic-tooltip-container">
</div>

{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/dist/external/selectize/css/selectize.bootstrap3.css">
{% endblock %}

{% block javascript %}
<script src="/dist/external/fuzzy/fuzzy.js"></script>
<script src="/dist/external/selectize/js/standalone/selectize.min.js"></script>
<script src="/dist/cljs/alibi.js"></script>
{% endblock %}
