<!doctype html>

<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="initial-scale=1.0,width=device-width,maximum-scale=1" />
	<title>Alibi time tracker</title>
  <link rel="stylesheet" href="/dist/external/bootstrap/css/bootstrap.min.css">
  <link href="/dist/external/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/dist/external/bootstrap-datepicker/css/bootstrap-datepicker3.css">
  

  <link rel="stylesheet" href="/res/css/alibi.css" />
  {% block stylesheets %}
  {% endblock %}
</head>
<body class="alibi">

{% include "header.html" with active="entry" %}

<div class="container">
	{% block body %}
	{% endblock %}
</div>

{% block end-of-body %}
{% endblock %}

<script src="/dist/external/jquery/jquery.js"></script>

<script src="/dist/external/bootstrap/js/bootstrap.min.js"></script>

<script src="/dist/external/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/dist/external/bootstrap-datepicker/locales/bootstrap-datepicker.nl.min.js"></script>

<script src="/dist/external/js-joda/js-joda.min.js"></script>


{% block javascript %}
{% endblock %}

</body>
</html>
